    <div class="footer-wrapper">
        <span class="footerNotifier">And i'm a footer.ejs!</span>
    </div>
    
    <script src="/js/bootstrap-slider.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/scripts/main.js"></script>
    </body>
</html>
