<%- include header.ejs %>

<div class="slider-wrapper">
	<div class="slider">
		<input id="ex2" type="text" class="span2" value=""
			data-slider-min="1"
			data-slider-max="4650"
			data-slider-step="1"
			data-slider-id="ex2"
			data-slider-value="[1,200]"/>

		<span class="price">
	</div>
</div>

<%- include footer.ejs %>